input {
    width: 70px;
    height: 2em;
    font-family: inherit;
    font-size: 12px;
    margin-bottom: 5px;
}

label {
    width: 100px;
    text-align: left;
    margin-right: 10px;
}